{% extends 'source/login.html' %}
{% if messg %}
<script>
    alert('{{ messg }}');
</script>

{% endif %}
{% block content %}
    <div class="container">
    <div class="card card-container">
        {% include 'message.html' %}
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <h3 align="center">Change Password</h3>
        <form class="form-signin"  method="post" action=""  >
            {% csrf_token %}
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="email">
            <button type="submit" class="btn btn-success">Submit</button>
        </form><!-- /form -->
        <!--<button id="login" onclick="login()">Login</button>-->
    </div><!-- /card-container -->
</div><!-- /container -->
{% endblock %}
