{% extends 'adminbase.html' %}


{% block content %}

{% include 'message.html' %}
<div class="container-fluid">

    <div class="row">
    <div class="col-md-6">
            <div class="card-header">
                Grade
            </div>
            <ul class="list-group list-group-flush">
                {% for gid, gname in grade %}
            <li id="{{gid}}" class="list-group-item">{{gname}}
                <a href="/mainapp/viewcourse/{{gid}}"> <button class="btn btn-outline-primary btn-sm" style="float:right;">View Courses</button></a>
            </li>
                {% endfor %}
            </ul>
        </div>

            <div class="col-md-6">
            <form method="post" action="{% url 'grade' %}">
                <div class="card-header">Add Grade </div>
              {%csrf_token%}
                <input name='title' type="text" class="form-control"  placeholder="Add new Grade" required><br>
                <button type="submit"  class="btn btn-success " value="Add">Add Grade </button>
              </form>
            </div>
    </div>
</div>
{% endblock %}