{% extends 'teacherbase.html' %}


{% block content %}
  <div class="main">
       <div class="content mt-3">
           <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Quiz</li>
  </ol>
</nav>

      <div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                Quiz
            </div>
            {% for qid,qname in quizlist %}
            <a href="{% url 'quizquestion' qid %}">
                <style>
            .list-group-item:hover {color: #F48B16;}
            </style>
                <li class="list-group-item">
            {{qname}}
            <button class="btn btn-outline-warning btn-sm" style="float:right">View Quiz</button>
            </li></a>
            {% endfor %}
        </div>
    </div>
</div>
       </div>

{% endblock%}